* {
  scroll-behavior: smooth;
}

body div {
  width: 100%;
}

body div .container .content {
  margin: 0;
  height: 90vh;
}

body div .container .content .col-12 .project-container {
  margin-top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body div .container .home-content {
  height: 65vh;
}

body div .container .home-content .social {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin-top: 15px;
}

body div .container .home-content .title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 992px) {
  body div .container .home-content {
    height: 90vh;
  }
  body div .container .home-content .social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 0;
  }
  body div .container .home-content .social-icons {
    height: 90vh;
  }
  body div .container .content .col-12 .project-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1200px) {
  body div .container {
    max-width: 1200px;
  }
}

.nav {
  margin: 0;
  width: 100%;
  background: white;
  height: 10vh;
}

.nav .nav-list {
  padding-left: 0;
  margin: 0;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.responsive-nav {
  margin: 0;
  width: 100%;
  height: 35vh;
  background: white;
}

.responsive-nav .nav-list {
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-icons li a {
  color: white;
  font-size: 2em;
}

.project {
  margin-top: 30px;
  background-color: #449AEF;
  width: 100%;
  height: 100%;
}

.project .project-image {
  width: 100%;
  height: 40%;
}

h1, h2 {
  background: linear-gradient(333deg, #3c3cc3 0%, #449aef 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

h1 {
  font-size: 55px;
}

h2 {
  margin-top: 20px;
  font-size: 40px;
}

p {
  font-size: 25px;
  color: #78786E;
}

@media only screen and (min-width: 992px) {
  .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .responsive-nav {
    height: 10vh;
  }
  .responsive-nav .nav-list {
    padding: 0 !important;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .project {
    width: 48%;
  }
}

@media only screen and (min-width: 1200px) {
  .project {
    width: 31%;
  }
}

body .background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 23, 18, 0.8)), to(#78786E));
  background-image: linear-gradient(rgba(23, 23, 18, 0.8) 0%, #78786E 100%);
}

body .background .container .subtitle {
  color: #E3E3E3;
}

body .background-bio {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #FFFFFF), to(#E3E3E3));
  background-image: linear-gradient(#FFFFFF 20%, #E3E3E3 100%);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
