* {
  padding: 0;
  margin: 0;
}

body div {
  width: 100%;
}

body div .container-fluid {
  max-width: 90%;
}

body div .container-fluid .structure {
  height: 90vh;
}

body div .container-fluid .home-structure {
  height: 65vh;
}

body div .container-fluid .home-structure .social {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

body div .container-fluid .project-structure .project-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body div .container-fluid .project-structure .project-container .project-image {
  width: 100%;
  height: 200px;
}

body div .nav {
  width: 100%;
  height: 10vh;
  padding: 0;
  margin: 0;
}

body div .nav .nav-list {
  padding-left: 0;
  margin: 0;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body div .nav .nav-list li {
  list-style-type: none;
}

body div .responsive-nav {
  width: 100%;
  height: 35vh;
  padding: 0;
  margin: 0;
}

body div .responsive-nav .nav-list {
  margin: 0;
  padding: 0;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body div .responsive-nav .nav-list li {
  list-style-type: none;
}

@media only screen and (min-width: 577px) and (max-width: 991px) {
  body div .container-fluid .structure-project .project-container {
    width: 75% !important;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  body div .container-fluid .home-structure {
    height: 90vh;
  }
  body div .container-fluid .home-structure .social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body div .responsive-nav {
    height: 10vh;
  }
  body div .responsive-nav .nav-list {
    padding-left: 0;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  body div .container-fluid {
    max-width: 1200px;
  }
}

body .background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 23, 18, 0.8)), to(#78786E));
  background-image: linear-gradient(rgba(23, 23, 18, 0.8) 0%, #78786E 100%);
}

body .background .nav, body .background .responsive-nav {
  background-color: white;
}

body .background-bio {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #FFFFFF), to(#E3E3E3));
  background-image: linear-gradient(#FFFFFF 20%, #E3E3E3 100%);
}
