/* Animazioni diverse in base al device. 
   Domanda: ho provato a farlo con la direttiva @if di sass
   per non diver impostare diversi nomi e richiamarli un'unica volta
   non ci sono riuscit, sarebbe possibile farlo o questo è l'unico
   modo per distinguere? */


/* ==================================
    Social Icons Entrance Aminations
   ==================================== */
@keyframes socialEntranceResponsive {
    from {
        transform: translateY(-30%);
        opacity: 0;
    }
    
    to {
        transform: translateY(0%);
        opacity: 1;
    }          
}


@keyframes socialEntranceDesktop {
    from {
        transform: translateX(30%);
        opacity: 0;
    }
    
    to {
        transform: translateX(0%);
        opacity: 1;
    }          
}

/* ==================================
    Home title Entrance Animations
   ==================================== */
@keyframes titleEntranceResponsive {
    from {
        transform: translateX(10%);
        opacity: 0;
    }
    
    to {
        transform: translateX(0%);
        opacity: 1;
    }          
}

@keyframes titleEntranceDesktop {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
        
    to {
        transform: translateY(0%);
        opacity: 1;
    }          
}


/* ===============
   Bio animation
   ============== */
@keyframes typingAnimation {
    from {
        width: 0%;
    }

    50% {
        width: 75%;
    }

    to {
        width: 0%;
    }
}


