//NAV
.nav {
    margin: 0;
    width: 100%;
    background: white;
    height: $navHeightResponsive;

    .nav-list {
        padding-left: 0;
        margin: 0;
        height: $navHeightResponsive;
        @include flex (space-around, center, column);
    }
}  


//SOCIAL
.social-icons {
    @include flex(space-between, flex-start, row);
    li {
        a {
            color: white;
            font-size: 4em;
        }
    }
}

//PROJECTS
.project {
    margin-bottom: 3em;
    background-color: $secondaryTextColor;
    width: 100%;
    min-height: 450px;
    border-radius: 1em 1em 0 0;
    
    .project-image {
        img {
            width: 100%;
            border-radius: 1em 1em 0 0;
        }
    }

    .project-description {
        padding: 0 1em;

        h3 {
            margin-top: 0.5em;
        }

    }

} 


//FORM DESIGN
form {
    input, textarea {
        width: 100%;
        line-height: 2em;
        padding: 0 1em;
        margin-bottom: 1em;
        border: 0.1em solid $textColor;
        border-radius: 10px;
        background-color: rgba(120, 120, 110, 0.8);
        color: $blueColor;
        font-size: 2em;
        &::placeholder {
            color: $primaryColor;
        }
    }
}

div {
    hr {
        border: 0.1em solid $blueColor;;
    }

    .contact-option {
        text-align: center;
        color: $secondaryTextColor;
    }
}




//Buttons 
button {
    width: 100%;
    line-height: 2em;
    padding: 0 1em;
    margin-bottom: 1em;
    border: 1px solid $textColor;
    border-radius: 10px;
    background: linear-gradient(rgba(60,60,195,1) 0%, rgba(68,154,239,1) 100%);
    color: $secondaryTextColor;
    font-size: 2em;
}

//responsive

//Mobile 
@media only screen and (max-width: 576px) {

} 



//Tablet 
@media only screen and (min-width: 577px) and (max-width: 991px) {
    //PROJECTS
    .project {

        .project-description {
            
            p {
                font-size: 2rem;
            }

        }
    } 
}



//Desktop
@media only screen and (min-width: 992px) {

    //SOCIAL
    .home-social-icons {
        @include flex(space-around, center, column);
    }

    //NAV
    .nav {
        height: $navHeight;

        .nav-list {
            padding: 0 !important;
            height: $navHeight;
            @include flex (space-between, center, row);
        }
    }

    //PROJECTS
    .project {
        width: 48%;
    } 
}


//Extra large screens
@media only screen and (min-width: 1200px) {
    .project {
        width: 31%;
    } 
}




