//layout
$navHeight: 10vh;
$fixedHeight: 100vh - $navHeight;

$navHeightResponsive: 35vh;

//colors
$blueColor: #449AEF;
$primaryColor: #434343;
$secondaryColor: #FFFFFF;
$textColor: #78786E;
$secondaryTextColor: #E3E3E3;




//mixins
@mixin flex ($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;    
    flex-direction: $direction;
    flex-wrap: wrap;
}



    







