//Mobile-first
* {
    padding: 0;
    margin: 0;
}

body {
    div {

        width: 100%;

        .container-fluid {
            max-width: 90%;
            
            .structure {
                height: $contentHeight;
            }

            //HOME
            .home-structure {
                height: 100vh - $navHeightResponsive;

                .social {
                    order: 0;
                }
            }

            //PROJECTS
            .project-structure {
                .project-container {
                    width: 100%;
                    height: fit-content;

                    .project-image {
                        width: 100%;
                        height: 200px;
                    }
                } 
            }

            //BIO
            //CONTACTS
        }

        .nav {
            width: 100%;
            height: $navHeight;
            padding: 0;
            margin: 0;
        
            .nav-list {
                padding-left: 0;
                margin: 0;
                height: $navHeight;
                @include flex (space-between, center, row);
        
                li {
                    list-style-type: none;
                }
            }
        }  
        
        //nav home per mobile e tablet
        .responsive-nav {
            width: 100%;
            height: $navHeightResponsive;
            padding: 0;
            margin: 0;

            .nav-list {
                margin: 0;
                padding: 0;
                height: $navHeightResponsive;
                @include flex (space-around, center, column);

                li {
                    list-style-type: none;
                }
            }    
        }
    }
}


//responsive

//Tablet 
@media only screen and (min-width: 577px) and (max-width: 991px){

    body {
        div {
            .container-fluid {
                .structure-project {
                    .project-container {
                        width: 75% !important;
                        margin: 0 auto;
                    }
                } 
            }
        }
    }
    

}


//Desktop
@media only screen and (min-width: 992px) {

    body {
        div {
            .container-fluid {

                //HOME
                .home-structure {
                    height: $contentHeight;
        
                    .social {
                        order: 2
                    }
                }

                //PROJECTS


                //BIO


                //CONTACTS
            }

            .responsive-nav {
                height: $navHeight;
        
                .nav-list {
                    padding-left: 0;
                    height: $navHeight;
                    @include flex (space-between, center, row);
                }
            }
        }
    }    
}


//Extra large screens
@media only screen and (min-width: 1200px) {

    body {
        div {
            .container-fluid {
                max-width: 1200px;
            }
        }
    }
}