//Mobile-first

* {
    scroll-behavior: smooth;
}

body {

    .background {

        background-image: linear-gradient($primaryColor 0%, $textColor 100%);
        width: 100%;

        .container {

            //HOME
            .home-content {
                height: 100vh - $navHeightResponsive; //height mobile home

                .social {
                    order: 0; //Icons on top
                    margin-top: 1.5em;
                }

                .title {
                    height: 100%; //height title container
                    @include flex(center, flex-start, column);
                }
            }

            
            .content {
                margin: 0;

                .col-12 {
                    //PROJECTS GRID
                    .project-container { 
                        @include flex(space-between, center, column);
                    }
                }
            }

            //CONTACTS height
            .contacts-content {
                min-height: 100vh;
            }
        }
    }

    .background-bio {
        background-image: linear-gradient($secondaryTextColor 20%, $secondaryColor 100%); //sitemare gradiente

        
        //BIO content
    }
}


//responsive

//Mobile 
@media only screen and (max-width: 576px) {
    //PROJECTS
} 


//Tablet 
@media only screen and (min-width: 577px) and (max-width: 991px){

}


//Desktop
@media only screen and (min-width: 992px) {

    body {

        .background {
            .container {

                //HOME
                .home-content {
                    height: $fixedHeight;

                    .home-social {
                        order: 2; //icons on right
                        margin-top: 0;
                    }

                    .home-social-icons {
                        height: $fixedHeight;
                    }
                }

                //PROJECTS
                //PROJECTS GRID
                .content {
                    .col-12 {
                        .project-container {
                            @include flex(space-between, stretch, row);
                        }
                    }
                }
                


                //BIO
            }
        }
    }    
}


//Extra large screens
@media only screen and (min-width: 1200px) {

    body {
        .background {
            .container {
                max-width: 1200px;
            }
        }
    }
}