html {
    font-size: 62.5%; //font == 10px
    
}

/* ============
    Font
   ============ */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

h1, h2, h3, h4, h5, h6, p, a, label, input, textarea, button {
    font-family: 'Comfortaa', cursive;
}


/* ====================
    Text Gradient Color
   ===================== */
h1, h2 {
    background: linear-gradient(333deg, rgba(60,60,195,1) 0%, rgba(68,154,239,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 600;
}

/* ====================
    General Typography
   ===================== */
h1 {
    font-size: 6rem;
    text-shadow: $shadow;
}

h2 {
    margin: 2rem 0;
    font-size: 4rem;
    text-shadow: $shadow;
}

h3 {
    font-size: 3rem;
}


//Bio text animation
.white-text, .normal-text {
    display: block;
    margin: 1em auto;
    text-align: center;
    animation: typingAnimation 10s infinite;
    background: linear-gradient(333deg, rgba(60,60,195,1) 0%, rgba(68,154,239,1) 100%);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .5em;
    padding: .5em 0;
    border-radius: 10px;
}

.normal-text {
    background: transparent;
    color: $textColor;
}

p {
    font-size: 2rem;
    color: $textColor;
}

.nav-list a {

    &:link {
        font-size: 2.5em;
        color: $textColor;
    }

    &:visited {
        color: $textColor;
    }
}

//HOME Subtitle Color
.subtitle {
    color: $secondaryTextColor;
    font-size: 2rem;
    text-shadow: $shadow;
}


/* ============
    ICONS
   ============ */
i {
    color: $secondaryTextColor;
    font-size: 4rem;
    text-shadow: $shadow;
    padding: 1rem;
    border-radius: 10px;
    transition: 0.5s;

    &:hover {
        transform: translate(0, -0.2em);
        color: $blueColor;
        background-color: $secondaryTextColor;
    } 

    //purtroppo non sono riuscito a settare un :focus sulle icone
}

/* ============
    Small Details
   ============ */
   ul {
    margin: 0;
    padding: 0;
}
    
li {
    list-style-type: none;
}

/* ============
    Responsive
   ============ */
//Desktop
@media only screen and (min-width: 992px) {
    .white-text, .normal-text {
        margin: .5em;
        text-align: left;
    }
}

