@import '_global.scss';
@import '_layout.scss';
@import '_components.scss';
@import '_typography.scss';



//Small ditails
:focus {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}
    
li {
    list-style-type: none;
}

