/* ==================================
    Social Icons Entrance Aminations
   ==================================== */
@keyframes socialEntranceResponsive {
  from {
    transform: translateY(-30%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes socialEntranceDesktop {
  from {
    transform: translateX(30%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* ==================================
    Home title Entrance Animations
   ==================================== */
@keyframes titleEntranceResponsive {
  from {
    transform: translateX(10%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes titleEntranceDesktop {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* ===============
   Bio animation
   ============== */
@keyframes typingAnimation {
  from {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  to {
    width: 0%;
  }
}
